<%= form_for(@seller_product) do |f| %>
  <% if @seller_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller_product.errors.count, "error") %> prohibited this seller_product from being saved:</h2>

      <ul>
      <% @seller_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "名称" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "价格" %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.file_field "avatar" %><br>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="actions">
    <%= f.submit "确认",class:"btn btn-primary" %>
  </div>
<% end %>
