<p>
  <strong>名称:</strong>
  <%= @seller_product.name %>
</p>

<p>
  <strong>价格:</strong>
  <%= @seller_product.price %>
</p>

<p>
  <strong>图像:</strong>
  <%= image_tag(@seller_product.avatar_url(:thumb)) if @seller_product.avatar %>
</p>


<%= link_to '编辑', edit_seller_product_path(@seller_product) %> |
<%= link_to '返回', seller_products_path %>
