<p id="notice"><%= notice %></p>

<h1>Listing Purchaser Carts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchaser_carts.each do |purchaser_cart| %>
      <tr>
        <td><%= link_to 'Show', purchaser_cart %></td>
        <td><%= link_to 'Edit', edit_purchaser_cart_path(purchaser_cart) %></td>
        <td><%= link_to 'Destroy', purchaser_cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_purchaser_cart_path %>
