<% if @purchaser_order.handled == 0 %>

<h1>您已创建订单，请尽快结账</h1>

<table class="table">
  <tr>
    <th>商品名</th>
    <th>单价</th>
    <th>数量</th>
    <th>总额</th>
  </tr>
  <% @purchaser_order.lists.each do |l|  %>
  <tr>

      <td><%= l.product.name %></td>
      <td><%= l.product.price %></td>
      <td><%= l.quantity %></td>
      <td><%= l.total_price %></td>
  </tr>
  <% end %>

</table>
<span class="btn btn-inline btn-info">总共：<%= @purchaser_order.total_price %></span>
<span class="btn btn-inline btn-info">你的余额：<%= login_user.money %></span><br>
<table>
  <tr>
    <td>
      <% if login_user.money>= @purchaser_order.total_price %>
        <%= button_to "付款",purchaser_orders_path+"/#{@purchaser_order.id}",method: :patch ,class:'btn btn-inline btn-primary',style:'margin-top:5px'%>
      <% else %>
        金额不足，请充值后付款
      <% end %>
    </td>
    <td><%= link_to '返回', root_path,class:'btn btn-inline btn-danger' ,style:'margin-top:5px;margin-left:10px'%></td>
  </tr>
</table>
<% else %>
  <h1>付款成功！</h1>
<% end %>
