<% if @purchaser_order.handled == 0 %>

<h1>您已创建订单，请尽快结账</h1>

<table class="table">
  <tr>
    <th>商品名</th>
    <th>单价</th>
    <th>数量</th>
    <th>总额</th>
  </tr>
  <% @purchaser_order.lists.each do |l|  %>
  <tr>

      <td><%= l.product.name %></td>
      <td><%= l.product.price %></td>
      <td><%= l.quantity %></td>
      <td><%= l.total_price %></td>
  </tr>
  <% end %>

</table>
总共：<%= @purchaser_order.total_price %><br>
你的余额：<%= login_user.money %><br>
<% if login_user.money>= @purchaser_order.total_price %>
  <%= button_to "付款",purchaser_orders_path+"/#{@purchaser_order.id}",method: :patch %>
<% else %>
  金额不足，请充值后付款
<% end %>
<%= link_to '返回', root_path %>
<% else %>
  <h1>付款成功！</h1>
<% end %>
