<p id="notice"><%= notice %></p>
<h1>申请处理</h1>
<table class="table">
  <thead>
    <tr>
      <th>申请人</th>
      <th>申请陈述</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_applcts.each do |admin_applct| %>
      <tr class="item_line">
        <td><%= admin_applct.user.username %></td>
        <td>用户<%= admin_applct.user.username %>申请成为卖家</td>
        <td><%= button_to "不同意",admin_applcts_path+"/#{admin_applct.id}+?user_id=#{admin_applct.user.id}&identity=#{-1}",method: :patch %>
            <%= button_to "同意", admin_applcts_path+"/#{admin_applct.id}+?user_id=#{admin_applct.user.id}&identity=#{1}",method: :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>
