<p id="notice"><%= notice %></p>

<p>
  <strong>用户名:</strong>
  <%= @admin_user.username %>
</p>

<p>
  <strong>身份:</strong>
  <%= @admin_user.discribe %>
</p>

<%= link_to '编辑', edit_admin_user_path(@admin_user) %> |
<%= link_to '返回', admin_users_path %>
