<!DOCTYPE html>
<html>
<head>
  <title>PetShop</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <%= render "shared/admin/nav" %>
  </div>
  <div class="bodyer container middle">
    <%= yield %>
  </div>
  <div class="footer">
    <%= render "shared/admin/footer" %>
  </div>
</body>
</html>
